# FIFOs temporales

**/*.fifo

# Configuración local de VS Code

**/.vscode/

# Ejecutables compilados de la práctica 1

/Practica-01/fifo/cliente_fifo
/Practica-01/fifo/servidor_fifo

/Practica-01/shm/cliente_shm
/Practica-01/shm/servidor_shm
